---
author: Frontend Team
ourTeam: My Team
---
{% extends 'layouts/application.html' %}
{% block bodyClass %}class="page-home has-animation"{% endblock %}

{% block content %}
<main id="main-content" class="main-content pt-40">
    {% include 'modules/PageHome/mod-banner.html' %}
    {% include 'modules/PageHome/mod-newbanner.html' %}
    {% include 'modules/PageHome/mod-slickPH.html' %}
    {% include 'modules/PageHome/mod-column.html' %}

    {% include 'modules/PageHome/mod-secondbanner.html' %}
    {% set option = 1 %}
    {% set nameSlider = 'slider1' %}
    {% set customizeClass = 'allow-tab-btn' %}
    {% include 'modules/mod-slickslider.html' %}
    {% include 'modules/PageHome/mod-the_lasted.html' %}
    {% include 'modules/PageHome/mod-wrap.html' %}
    <!-- <div class="h-50"></div>
    {% include 'modules/mod-banners.html' %}
    <div class="h-20"></div>
    {% include 'modules/mod-banner-internal.html' %}
    {% include 'modules/mod-hello-world.html' %}
    {{name}}
    {{column}} -->
</main>

{% endblock %}
