---
author: Frontend Team
ourTeam: My Team
title: Page list
---
{% extends 'layouts/application.html' %}
{% block bodyClass %}class="page-home has-animation"{% endblock %}

{% block content %}
<main id="main-content" class="main-content py-60">
  <div class="container">
    <ol>
      <li><a href="/">Home</a></li>
      <!-- <li><a href="/ADA.html">ADA.html</a></li> -->
      <!-- <li><a href="/universal.html">universal.html</a></li> -->
      <li><a href="page-home.html">Home Real</a></li>
      <li><a href="page-category.html">Category</a></li>
      <li><a href="page-compare.html">Compare</a></li>
      <li><a href="page-shop.html">Shop</a></li>
      <li><a href="page-quest-module-ex.html">Quest Module Example</a></li>
      <li><a href="page-shop-notquest.html">Shop: Not Quest</a></li>
      <li><a href="page-reviews.html">Reviews</a></li>
      <li><a href="page-frequently-ask.html">Frequently Ask Questions</a></li>
      <li><a href="page-Set_Up_Videos.html">Set Up Videos </a></li>
      <li><a href="page-Stores.html">Stores</a></li>
      <li><a href="page-stores-expanded.html">Stores - Expanded</a></li>
      <li><a href="page-collections.html">Collections</a></li>
      <li><a href="page-news.html">News</a></li>
      <li><a href="page-blog.html">Blog</a></li>
      <li><a href="page-blog-detail.html">Blog Detail</a></li>
      <li><a href="page-shop-universal.html">Shop Universal Page</a></li>


      <li><a href="page-new_modules.html">New-Modules</a></li>
    </ol>
  </div>
</main>

{% endblock %}