header
{
    background-color:midnightblue;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    border: 90px solid #ffffff;
}
h1{
    padding-top: 80px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-size: 48px;    
    align-items: center;
    text-align: center;
    color:white;
    flex: none;
}
.para
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.para1
{
        width: 250px;
    margin-left: 30px;
    text-align: center;
    color:white;
    margin-right: 100px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 160%;
}
.para2
{
    text-align: center;
    color:white;
    margin-right: 100px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 160%;
}
.para3
{
    text-align: center;
    color:white;
    margin-right: 100px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 160%;
}
.para4
{
    text-align: center;
    color:white;
    margin-right: 100px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 160%;
}

.box {
    display: flex;
    margin-top: 100px;
    width: auto;
    height: auto;
    background-color: midnightblue;
    border: 1px solid #ccc;
    padding: 60px;
}

.box1 {
    margin-left: auto;
    width: 600px;
    height: 400px;
    background-color: #ffffff;
    border: 1px solid #ccc;
}

.box1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box2 {
    margin-left: 20px;
    margin-right: auto;
    width: 600px;
    height: 400px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box2 p
{
    line-height: 30px;
    width: 450px;
    font-size: 25px;
    font-family: 'Plus Jakarta Sans';
}

.header-link-container {
    display: flex;
    font-family: 'Plus Jakarta Sans';
}
.header-link-container a
{
    padding: 20px;
    margin-top: 25px;
    font-size: 14px;
    text-decoration: none;
}
.header-link-container img
{
    width: 12px;
    height: 12px;
}
.header {
    margin-right: auto;
    font-size: 36px;
}







.container {
    display: flex;
}


.boxes {
    margin-bottom: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    font-family: 'Plus Jakarta Sans';
}

.boxes img {
    width: 100%;
    height: auto;
}

.details img
{
    width: 12px;
    height: 12px;
}
.details a
{
    text-decoration: none;
}
.h3
{
    font-size: 20px;
    font-weight: bold;
}
.price
{
    font-weight: 700;
}









.slic h4
{
    font-size: 20px;
    width: 344px;
    height: 32px;
}
.slic p
{
    font-size: 16px;
    width: 344px;
    height: 145px;
}
.slic h5
{
    padding-bottom: 30px;
    display: flex;
    font-size: 16px;
    width: 100px;
    height: 29px;
}
.slic img{
    width: 14px;
    height: 15px;
}
.Sboxes
{
    width: auto;
    height: 10px;
    box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.05);
    padding-left: 20px;
    font-family: 'Plus Jakarta Sans';
}   

.fivestar
{
    display: flex;
    text-align: left;
    padding-top: 60px;
}

    









.slick-prev,
.slick-next {
    background-color: transparent;
    background-size: cover;
    color: #000;
    font-size: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.slick-next {
    width: 15px;
    background-image: url(../images/right.svg); 
    background-size: cover;
    left:50px;
}


.slick-prev {
    width: 15px;
    background-image: url(../images/left.svg); 
    background-size: cover;
    left:100px;
}

.slick-slider
{
    position: absolute;
    box-sizing: content-box;
}
