#header{
  a{
    @apply text-black no-underline hover:no-underline hover:text-blue-300;
  
  &:-webkit-any-link:focus-visible {
    outline-offset: 3px;
  }
  }
}

.pin-header {
  @apply border-b-1 border-blue-300;
}
.page-home-data,
.front-page-data,
.error404 {
  .header:not(.pin-header):not(.is-open-menu) {
    .hamburger-menu .icon-bar {
      @apply bg-blue-300;
    }

    .main-menu-ul {
      @apply text-blue-300;
    }

    .btn-transparent {
      @apply text-blue-300 border-blue-300;

      &:hover {
        @apply text-blue-300 border-blue-300;
      }
    }
  }
}


.screenshot {
  .header {
    @apply left-auto;
    transform: none;
  }
}
.header-logo{
  max-width: 150px;
}

@screen down_lg {
  header {
    &::after {
      content: '';
      @apply bg-white right-0 left-0 top-0 bottom-full absolute z-a-1;
    }
    &.is-open-menu {
      height: calc(100% + 70px);

      &::after {
        @apply bottom-0;
      }

    }
  }

  .touch {
    .main-menu-ul {
      flex: 0 0 auto;
    }
  }
}


@media (max-width: 767px) and (orientation: landscape) {
  .header {
    @apply absolute bg-transparent #{!important};
  }
}
